	@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
	body {
	    font-family: 'noto sans tc','微軟正黑體';
	    font-size:14px;
	    color:#666;
	}
	a:link{
		text-decoration:none;
	}
	a:hover{
		text-decoration: none;
		color: inherit;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	div{  
        overflow: hidden;  
    }  
	img{  
        cursor: pointer;  
        transition: all 0.6s; 
    }
    .card{
    	border:0.5px solid #9999995c;
    	border-radius: 5px;
    }
    .card-body{
    	font-size: 18px !important;
    	padding: 15px;
    }
	/**/
	.biycle{
		color: #333;
	}
	/**/
	.navbar-toggle{
		border-color: #fff !important;
	}
	.navbar-toggle:hover{
		background: #fff !important;
	}
	.navbar-default{
		background: #fff !important;
	}
	/*導航列置中*/
	.navbar-default .navbar-nav>li>a{
		text-align: center;
	}
	/**/
	/*頁面視窗標題*/
	.modal-title{
	    font-family: '微軟正黑體';
	    font-weight: 600;
	    font-size: 18px;
	    color:#333;
	}
	/**/
	/*圖示圓角變深*/
	.center-block{
		border-radius: 3px;
	}
	.center-block:hover{
		filter:brightness(.3);
		-webkit-filter:brightness(.5);
	}
	/**/
	/*按鈕*/
	.buttonuser{
		display: inline-block;
		position: relative;
		margin: 10px;
		padding: 5px 15px;
		text-align: center;
		color: #d11415;

		font-size: 14px;
		border:3px #d11415 solid;
		border-radius:20px;
		letter-spacing: 2px;
	}
	.buttonuser:hover{
		background: #d11415;
		color: #fff;
	}
	/*頂圖(1900)*/
	.head_top{
		position: relative;
		height:600px;
		background-image: url(../img/Taitung-1900X720.jpg);
	    background-position: 55% 90%;
	    background-size: cover;
	    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	    margin-top: 0;
	    margin-bottom: 0;
	    z-index: 0;
	}
	.head_top_text_title{
		display: inline-block;
		color: #fff;
	    font-size: 46px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.head_top_text_dates{
		display: inline-block;
		color: #fff;
	    font-size: 40px;
	    position: absolute;
	    top: 45%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*小圖(字型)*/
	.content_up{
		display: inline-table;
		color: #fff;
	    font-size: 21px;
	    position: absolute;
	    top: 37%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
	    -webkit-z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content_down{
		display: inline-table;
		color: #fff;
	    font-size: 21px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
	    -webkit-z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*中圖(字型)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 52px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 52px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*stay圖(字型)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 52px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 52px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*(字型)兩行*/
	.content_top{
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px; 
	}
	.content_top_tex_1{
		font-weight: 500;
	}
	.content_top_text{
		font-family: Noto Sans TC;
		font-weight: normal;
		font-size: 18px;
		color: #262626;
		text-align: left;
	}
	.content_top_2{
		position: relative;

	}


/*底部*/
	.footer{
		position: relative;
		display: block;
		background: #222;
		color: #fff;
		text-align: center;
		padding: 5px;
	}

/*Logo*/
	.navbar-brand {
	padding: 0px 0px;
}

/* 響應式*/
@media screen and (min-width: 300px) and (max-width: 768px) {
	.navli>li:hover{
    	background: #FFAA33;
    }
    .navli>li>a:hover{
    	color: #fff !important;
    }
	/*字型兩行)*/
	.content_top_tex_1{
		font-size: 18px;
		font-weight: 500;
	}
	.content_top_text{
		font-size: 15px;
		font-weight: normal;
	}
}
@media screen and (min-width:1025px) {	
	div.content.content_top_2_2351{
		margin:15px 7.5px 7px 7.5px !important;
	}
	/*圖示(中)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 36px;
	    position: absolute;
	    top: 40%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 33px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(stay)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 36px;
	    position: absolute;
	    top: 40%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 33px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
}
@media screen and (max-width:1024px) { 
	.content_top_2_235{
		margin:15px 7.5px 0px 7.5px !important;
	}
	/*圖示(大)*/
	.head_top_text_title,.head_top_text_dates{
		font-size: 52px;
		display: inline-table;
	}
	.head_top_text_dates{
		top:45%;
	}
	/*圖示(中)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 42px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 42px;
	    position: absolute;
	    top: 49%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(stay)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 30px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 31px;
	    position: absolute;
	    top: 49%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(小)*/
	.content{
		font-size: 42px;
		display: inline-table;
	}
	.head_top_text_dates{
		top:45%;
	}
}
@media screen and (max-width:768px) { 
	.head_top{
		height: 450px;
	}
	/*圖示(大)*/
	.head_top_text_title,.head_top_text_dates{
		font-size: 32px;
		display: inline-table;
	}
	.head_top_text_dates{
		top:45%;
	}
	/*圖示(中)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 42px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 42px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(stay)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 21px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 21px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
}
@media screen and (max-width:425px) { 
	.head_top{
		height: 306px;
	}
	/*圖示(大)*/
	.head_top_text_title,.head_top_text_dates{
		display: inline-table;
		top:37%;
		font-size: 30px;
	}
	.head_top_text_dates{
		top:50%;
	}
	/*圖示(中)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 32px;
	    position: absolute;
	    top: 36%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 32px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(stay)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 36%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(小)*/
	.content_up{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	.content_down{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
}
@media screen and (max-width:375px) { 
	.head_top_text_title{
		display: inline-table;
		font-size: 30px;
		top: 104px;
	}
	.head_top_text_dates{
		font-size: 22px;
		top:45%;
		display: inline-table;
	}

}
@media screen and (max-width:320px){
	/*圖示(大)*/
	.head_top_text_title,.head_top_text_dates{
		font-size: 32px;
		display: inline-table;
	}
	.head_top_text_dates{
		top:45%;
	}
	/*圖示(中)*/
	.content570_up{
		display: inline-table;
		color: #fff;
	    font-size: 32px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content570_down{
		display: inline-table;
		color: #fff;
	    font-size: 32px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}
	/*圖示(stay)*/
	.content580_up{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}

	.content580_down{
		display: inline-table;
		color: #fff;
	    font-size: 14px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 3;
		font-family: Noto Sans TC;
		font-weight: 500;
		text-shadow:3px 3px 10px #262626;
	}


